

.code {
	font-family: var(--font-monospace), monospace;
	overflow-wrap: anywhere;
}

.hl {
	border-bottom: 1px dashed lightgreen;
	color: green;
}

.indent {
	margin-left: 1em;
}

.example:hover {
	background: #eee;
}