

@import url('https://fontlibrary.org//face/code-new-roman');


body {
	--font-monospace: "CodeNewRomanRegular";
	
	font-family: Arial, sans-serif;
	max-width: 50em;
	margin: 4em auto;
}

li {
	margin-bottom: 0.5em;
}

h5 {
	font-size: 1em;
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: 0;
}

input[type=text] {
	width: 10em;
}

input[type=number] {
	width: 4em;
}

